<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                margin: auto;
                width: 60%;
                border: 3px solid #73AD21;
                padding: 10px;
            }
            a{
                font-size: 2.0em;
            }
            a:link {color:#0000ff;}
            a:visited {color:#45a5d1;}
            a:hover {color:#247e54;}

            
        </style>
    </head>

    <div class ="center">
        <h1>Book Recommendation System</h1>
        
        <h3>You can search by the following Recommender Types: </h3>
        <a href ="/visualize" target="_blank"> Data Visualization</a><br>
        <a href ="/popular" target="_blank"> Popularity Based Recommender System</a><br>
        <a href ="/popularBasedAuthor" target="_blank"> Author Based Recommender System</a><br>
        <a href ="/popularBasedPublisher" target="_blank"> Publisher Based Recommender System</a><br>
        <a href ="/contentBasedCount" target="_blank"> Content Based Recommender System(CountVectorizer)</a><br>
        <a href ="/contentBasedTfidf" target="_blank"> Content Based Recommender System(Tfidf Vectorizer)</a><br>
        <a href ="/collaborativeKnn" target="_blank"> Collaborative Based Recommender System(Item Based - KNN)</a><br>
        <a href ="/collaborativeItem" target="_blank"> Collaborative Based Recommender System(Item Based - Correlation)</a><br>
        <a href ="/hybridApproach" target="_blank"> Hybrid Based Recommender System</a>
    </div>

</body>
</html>