<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                margin: auto;
                width: 60%;
                border: 3px solid #73AD21;
                padding: 10px;
            }
            a{
                font-size: 2.0em;
            }
            a:link {color:#0000ff;}
            a:visited {color:#45a5d1;}
            a:hover {color:#247e54;}

            
        </style>
    </head>

    <div class ="center">
        <h1>Book Recommendation System</h1>
        
        <h3>You can search by the following recommender types: </h3>
        <a href ="/popular"> Top Popular Books</a><br>
        <a href ="/popularBasedAuthor"> Popular Based Author</a><br>
        <a href ="/popularBasedPublisher"> Popular Based Publisher</a><br>
        <a href ="/contentBasedCount"> Content Based Count</a><br>
        <a href ="/contentBasedTfidf"> Content Based Tfidf</a><br>
        <a href ="/collaborativeKnn"> Collaborative KNN</a>
    </div>

</body>
</html>